<form class="msg-form" method="post" action="/new">
	<label for="name">Name</label>
	<input 
		required 
		type="text" 
		name="name" 
		id="name"
		placeholder="John Doe"
		maxlength="32"
	>
	<label for="message">Message</label>
	<input 
		required 
		type="text" 
		name="message" 
		id="message"
		placeholder="Hello World!"
		maxlength="128"
	>
	<button class="msg-submit">Submit</button>
</form>