<%- include('../partials/header') %>
<main>
  <div class="err-msg">
		<p class="err-text">There was an error!</p>
		<p class="err-text"><%= message %></p>
  </div>
  <a href="/" class="err-home">Home</a>
</main>
<%- include('../partials/footer') %>