<%- include('../partials/header') %>
<main>
  <div class="err">
    <div class="err-msg">
        <p class="err-text">There was an error!</p>
        <p class="err-text"><%= message %></p>
    </div>
    <a href="/" class="err-home">Home</a>
  </div>
</main>
<%- include('../partials/footer') %>