<%- include('../partials/header') %>
<main>
  <div class="index">
    <div class="msg-new">
      <h1>What do you want to say?</h1>
      <%- include('../partials/form') %>
    </div>
    <a href="/" class="msg-home">
      <img src="/images/home.svg" alt="Home">
    </a>
  </div>
</main>
<%- include('../partials/footer') %>