<%- include('../partials/header') %>
<main>
  <h1>Please input your name and message.</h1>
  <%- include('../partials/form') %>
  <a href="/" class="msg-home">Home</a>
</main>
<%- include('../partials/footer') %>